<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.repository.BookRepository">

    <select id="list" resultType="kr.smhrd.entity.Book">
        select * from book order by id desc
    </select>

    <insert id="cartAdd">
        insert into cart(customer_id, book_id, quantity)
        values(#{customer_id},#{book_id}, 1) <!-- 1, now() -->
    </insert>

    <select id="checkAdd" resultType="kr.smhrd.entity.Cart">
        select * from cart
        where customer_id=#{customer_id} and book_id=#{book_id}
    </select>

    <update id="cartQuantity">
        update cart
        set quantity=quantity+1
        where customer_id=#{customer_id} and book_id=#{book_id}
    </update>

    <select id="cartList" resultType="kr.smhrd.entity.CartCusBook">
        select c.id, c.customer_id, c.book_id, c.quantity,c.cart_date,
        b.title,b.price,b.author,b.page, (c.quantity*b.price) amount
        from cart c
        inner join book b
        on c.book_id=b.id
        where c.customer_id=#{customerId}
    </select>

    <delete id="cartCancel">
        delete from cart where id=#{cartId}
    </delete>

    <update id="quantityUpdate">
        update cart
        set quantity=#{quantity}
        where id=#{cartId}
    </update>
    <select id="totalAmount" resultType="int">
        select
        sum(c.quantity*b.price) totalamount
        from cart c
        inner join book b
        on c.book_id=b.id
        where c.customer_id=#{customerId}
    </select>
</mapper>