<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.repository.BookRepository">

    <select id="list" resultType="kr.smhrd.entity.Book">
        select * from book order by id desc
    </select>

    <insert id="cartAdd">
        insert into cart(customer_id, book_id, quantity)
        values(#{customer_id},#{book_id}, 1) <!-- 1, now() -->
    </insert>

</mapper>